name: deploy on heroku
  on:
    push:
      branches:
        - main
jobs:
  DeployHeroku: 
    runs-on: ubuntu-latest
    steps:
      - name: checkout for deploy
        uses: actions/checkout@v3
      - name: deploy on heroku app
        uses: akhileshns/heroku-deploy@v3.12.12 
        with:
          heroku_api_key:  ${{secrets.HEROKU_API_KEY}}
          heroku_app_name:  ${{secrets.HEROKU_APP_NAME}}
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          branch: 'main'